<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
  </head>
  <body>
    <div th:fragment = "navbar">
        <div class="container__home__header row">
          <span class="container__home__header__name-page col-md-3">HOME</span>
          <div class="container__home__header__search col-md-7">
            <div class="input-group rounded">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
              <span class="input-group__icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </div>
          </div>
        
          <div class="container__home__header__options col-md-2">
            <div class="options__icon-noti">
              <i class="fa-solid fa-bell"></i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
