<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
  </head>
  <body>
    <div class="FormNavbar">
      <div class="BrandNavbar">
        <div class="NavText">Sound Clouds</div>
      </div>
      <div class="CollapseNavbar">
        <div class="NavbarNav">
          <div class="NavItem">
            <div class="NavText">Home</div>
          </div>
          <div class="NavItem">
            <div class="NavText">Stream</div>
          </div>
          <div class="NavItem">
            <div class="NavText">Upload</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
