<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/sidebar.css}" />
    <script
      src="https://kit.fontawesome.com/b36a60f224.js"
      crossorigin="anonymous"
    ></script>

    <title>Document</title>
  </head>
  <body>
    <div class="FormSideBar">
      <div class="BrandSideBar">
        <img class="BrandSideBarImg" th:src="@{/assets/img/brand.png}" alt="" />
      </div>
      <div class="CollapseSideBar">
        <div class="Sidebar" id="Sidebar">
          <div
            id="item1"
            class="SidebarItem SidebarItemActive HoverItemSideBar"
          >
            <div class="ItemTextAndIcon">
              <i class="fa-solid fa-house"></i>
              <div class="Typography">Home</div>
            </div>
          </div>
          <div id="item2" class="SidebarItem HoverItemSideBar">
            <div class="ItemTextAndIcon">
              <i class="fa-solid fa-bookmark"></i>
              <div class="Typography">Library</div>
            </div>
          </div>
          <div id="item3" class="SidebarItem HoverItemSideBar">
            <div class="ItemTextAndIcon">
              <i class="fa-solid fa-upload"></i>
              <div class="Typography">Upload</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="FormAvatar">
      <div class="AvatarSidebar">
        <img th:src="@{/assets/img/profile.jpg}" />
      </div>
      <div class="NameUser">
        <div class="Typography">votiendat</div>
      </div>
    </div>
    <script th:src="@{/js/sidebar.js}"></script>
  </body>
</html>
