<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b36a60f224.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{css/home.css}" />
    <link rel="stylesheet" th:href="@{css/slidehome.css}" />

    <title>Sound App</title>
</head>

<body>
<header>
    <div class="container-fluid" style="width: 100vw; height: 100vh;">
        <div class="row" style="height: 100vh">
            <div class="menu_side col-md-2">
                <a href="/home" style="color: white;">
                    <h1><strong>SOUND</strong></h1>
                </a>
                <div class="menu_song_container">
                    <h5>SUGGESTION</h5>
                    <div class="menu_song">
                        <th:block th:if = "${sounds != null}">
                            <th:block th:each = "sound,index : ${sounds}">
                            <li class="songItem">
                                <span th:text="${index.index}"></span>
                                <img th:src="@{${'/assets/img/data/'+sound.pathImage}}" alt="Alan">
                                <p th:text="${sound.pathAudio}" style="display: none;" class="audio-play-music"></p>
                                <p th:text="${sound.pathImage}" style="display: none;" class="img-play-music"></p>
                                <p th:text="${sound.nameSound}" style="display: none;" class="name-play-music"></p>

                                <h5 th:text = "${sound.nameSound}">
                                    <div class="subtitle" >
                                        <p th:text = "${sound.nameSinger}"></p>
                                    </div>
                                    <p th:text = "${sound.nameSinger}"></p>
                                </h5>
                                <i class="bi playListPlay bi-play-circle-fill"></i>  
                            </li>
                        </th:block>
                        </th:block>
                    </div>
                </div>
                <div class="favorite">
                    <h5>FAVORITE</h5>
                    <div class="favorite-item">
                        <a th:href="@{/favorite}">
                            <i class="bi bi-journal-album"></i>
                            <p>ALBUMS</p>
                        </a>
                    </div>
                    <div class="favorite-item">
                        <a th:href="@{/favorite}">
                            <i class="bi bi-file-music"></i>
                            <p>PLAYLISTS</p>
                        </a>
                    </div>
                    <div class="favorite-item">
                        <a th:href="@{/favorite}">
                            <i class="bi bi-music-note-list"></i>
                            <p>SOUNDS</p>
                        </a>
                    </div>
                </div>
            </div>
        
            <div class="song_side col-md-10">
                <nav>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <div class = "container">
                                    <ul class="row">
                                        <li class="col"><i class="bi bi-music-note-list"></i><a href="/home">SOUND</a> <span></span></li>
                                        <li class="col"><i class="bi bi-journal-album"></i> <a href="/home">ALBUM</a> </li>
                                        <li class="col"><i class="bi bi-card-checklist"></i> <a href="/home">PLAYLIST</a></li>
                                    </ul>
                                </div>
                                
                            </div>
                            <div class="col-6">
                                <div class="search d-flex flex-row align-content-center w-100">
                                    <form th:action="@{/search}" th:method="GET">
                                        <i class="bi bi-search"></i>
                                        <input type="text" placeholder="Search Music..." name="key">
                                 </form>
                                </div>
                            </div>
                            <div class="col-2" >
                                <div class="user">
                                    <img th:src="${path_image_user}" alt="User" title="KDS CODER (Jahid Khan)">
                                    <ul class="dropdown">
                                        <li>
                                            <a th:href="@{/editor}" class="item-dropdown gap-2">
                                                <img th:src="${path_image_user}" class="rounded float-start" style="position:relative">
                                                <p class="mb-0" style="color: black" th:text="${name_user}"></p>
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="@{/reset_password}" class="item-dropdown">
                                                <div class="d-flex flex-row justify-content-start align-item-center gap-2">
                                                    <i class="fa-solid fa-lock"></i>
                                                    <p class="text-start mb-0">Change password</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="item-dropdown">
                                                <div class="d-flex flex-row justify-content-start align-items-center gap-2">
                                                    <i class="fa-solid fa-heart"></i>
                                                    <p class="text-start mb-0">Favorite</p>
                                                </div>
                                                
                                            </a>
                                        </li>
                                        <li>
                                            <form th:action="@{'/logout/' + ${session_id}}" th:method="post">
                                                <button type="submit" class="btn btn-light w-100">
                                                    <div class="d-flex flex-row justify-content-start align-items-center gap-2">
                                                        <i class="fa-solid fa-right-from-bracket"></i>
                                                        <p class="text-start mb-0" style="font-size: 0.875rem">Log out</p>
                                                    </div>
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>            
                </nav>

                <!-- Slide  -->
                <div class="content-width">
                <div class="slideshow">
                    <!-- Slideshow Items -->
                    <div class="slideshow-items">
                    <div class="item">
                        <div class="item-image-container">
                        <img class="item-image" src="https://i.pinimg.com/564x/23/a4/86/23a4860b8b70b1eb27f2791b97aaee8e.jpg" />
                        </div>
                        <!-- Staggered Header Elements -->
                        <div class="item-header">
                        <span class="vertical-part"><b>N</b></span>
                        <span class="vertical-part"><b>i</b></span>
                        <span class="vertical-part"><b>k</b></span>
                        <span class="vertical-part"><b>e</b></span>
                        </div>
                        <!-- Staggered Description Elements -->
                        <div class="item-description">
                        <span class="vertical-part">
                            <b>Nike</b>
                        </span>
                        <span class="vertical-part">
                            <b>ipsum</b>
                        </span> 
                        <span class="vertical-part">
                            <b>dolor</b>
                        </span>
                        <span class="vertical-part">
                            <b>sit</b>
                        </span> 
                        <span class="vertical-part">
                            <b>amet,</b>
                        </span>
                        <span class="vertical-part">
                            <b>consectetur</b>
                        </span> 
                        <span class="vertical-part">
                            <b>adipiscing</b>
                        </span>
                        <span class="vertical-part">
                            <b>elit.</b>
                        </span> 
                        <span class="vertical-part">
                            <b>Pellentesque</b>
                        </span>
                        <span class="vertical-part">
                            <b>elementum</b>
                        </span> 
                        <span class="vertical-part">
                            <b>gravida</b>
                        </span>
                        <span class="vertical-part">
                            <b>ex</b>
                        </span> 
                        <span class="vertical-part">
                            <b>at</b>
                        </span>
                        <span class="vertical-part">
                            <b>maximus.</b>
                        </span> 
                        <span class="vertical-part">
                            <b>Nullam</b>
                        </span>
                        <span class="vertical-part">
                            <b>quis</b>
                        </span> 
                        <span class="vertical-part">
                            <b>leo</b>
                        </span>
                        <span class="vertical-part">
                            <b>ipsum.</b>
                        </span> 
                        <span class="vertical-part">
                            <b>Lorem</b>
                        </span>
                        <span class="vertical-part">
                            <b>ipsum</b>
                        </span> 
                        <span class="vertical-part">
                            <b>Nam</b>
                        </span> 
                        <span class="vertical-part">
                            <b>consectetur</b>
                        </span>
                        <span class="vertical-part">
                            <b>malesuada</b>
                        </span> 
                        <span class="vertical-part">
                            <b>blandit.</b>
                        </span>
                        <span class="vertical-part">
                            <b>Mauris</b>
                        </span> 
                        <span class="vertical-part">
                            <b>vulputate</b>
                        </span>
                        <span class="vertical-part">
                            <b>purus</b>
                        </span> 
                        <span class="vertical-part">
                            <b>id</b>
                        </span>
                        <span class="vertical-part">
                            <b>dolor</b>
                        </span> 
                        <span class="vertical-part">
                            <b>euismod</b>
                        </span>
                        <span class="vertical-part">
                            <b>varius.</b>
                        </span>      
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-image-container">
                        <img class="item-image" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a1232e48702241.589f548dc6bee.jpg" />
                        </div>
                        <!-- Staggered Header Elements -->
                        <div class="item-header">
                        <span class="vertical-part"><b>S</b></span>
                        <span class="vertical-part"><b>p</b></span>
                        <span class="vertical-part"><b>o</b></span>
                        <span class="vertical-part"><b>t</b></span>
                        <span class="vertical-part"><b>i</b></span>
                        <span class="vertical-part"><b>f</b></span>
                        <span class="vertical-part"><b>y</b></span>
                        </div>
                        <!-- Staggered Description Elements -->
                        <div class="item-description">
                        <span class="vertical-part">
                            <b>Spotify</b>
                        </span>
                        <span class="vertical-part">
                            <b>ipsum</b>
                        </span>
                        <span class="vertical-part">
                            <b>dolor</b>
                        </span>
                        <span class="vertical-part">
                            <b>sit</b>
                        </span>
                        <span class="vertical-part">
                            <b>amet,</b>
                        </span>
                        <span class="vertical-part">
                            <b>consectetur</b>
                        </span>
                        <span class="vertical-part">
                            <b>adipiscing</b>
                        </span>
                        <span class="vertical-part">
                            <b>elit.</b>
                        </span>
                        <span class="vertical-part">
                            <b>Pellentesque</b>
                        </span>
                        <span class="vertical-part">
                            <b>elementum</b>
                        </span>
                        <span class="vertical-part">
                            <b>gravida</b>
                        </span>
                        <span class="vertical-part">
                            <b>ex</b>
                        </span>
                        <span class="vertical-part">
                            <b>at</b>
                        </span>
                        <span class="vertical-part">
                            <b>maximus.</b>
                        </span>
                        <span class="vertical-part">
                            <b>Nullam</b>
                        </span>
                        <span class="vertical-part">
                            <b>quis</b>
                        </span>
                        <span class="vertical-part">
                            <b>leo</b>
                        </span>
                        <span class="vertical-part">
                            <b>ipsum.</b>
                        </span>
                        <span class="vertical-part">
                            <b>Lorem</b>
                        </span>
                        <span class="vertical-part">
                            <b>ipsum</b>
                        </span>
                        <span class="vertical-part">
                            <b>Nam</b>
                        </span>
                        <span class="vertical-part">
                            <b>consectetur</b>
                        </span>
                        <span class="vertical-part">
                            <b>malesuada</b>
                        </span>
                        <span class="vertical-part">
                            <b>blandit.</b>
                        </span>
                        <span class="vertical-part">
                            <b>Mauris</b>
                        </span>
                        <span class="vertical-part">
                            <b>vulputate</b>
                        </span>
                        <span class="vertical-part">
                            <b>purus</b>
                        </span>
                        <span class="vertical-part">
                            <b>id</b>
                        </span>
                        <span class="vertical-part">
                            <b>dolor</b>
                        </span>
                        <span class="vertical-part">
                            <b>euismod</b>
                        </span>
                        <span class="vertical-part">
                            <b>varius.</b>
                        </span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-image-container">
                        <img class="item-image" src="https://i2.wp.com/www.futuristarchitecture.com/wp-content/uploads/2016/11/fantastic-small-living-room-interior-idea-7.jpg?w=700&ssl=1" />
                        </div>
                        <!-- Staggered Header Elements -->
                        <div class="item-header">
                        <span class="vertical-part"><b>A</b></span>
                        <span class="vertical-part"><b>i</b></span>
                        <span class="vertical-part"><b>r</b></span>
                        <span class="vertical-part"><b>b</b></span>
                        <span class="vertical-part"><b>n</b></span>
                        <span class="vertical-part"><b>b</b></span>
                        </div>
                        <!-- Staggered Description Elements -->
                        <div class="item-description">
                        <span class="vertical-part">
                            <b>Airbnb</b>
                        </span>
                        <span class="vertical-part">
                            <b>ipsum</b>
                        </span>
                        <span class="vertical-part">
                            <b>dolor</b>
                        </span>
                        <span class="vertical-part">
                            <b>sit</b>
                        </span>
                        <span class="vertical-part">
                            <b>amet,</b>
                        </span>
                        <span class="vertical-part">
                            <b>consectetur</b>
                        </span>
                        <span class="vertical-part">
                            <b>adipiscing</b>
                        </span>
                        <span class="vertical-part">
                            <b>elit.</b>
                        </span>
                        <span class="vertical-part">
                            <b>Pellentesque</b>
                        </span>
                        <span class="vertical-part">
                            <b>elementum</b>
                        </span>
                        <span class="vertical-part">
                            <b>gravida</b>
                        </span>
                        <span class="vertical-part">
                            <b>ex</b>
                        </span>
                        <span class="vertical-part">
                            <b>at</b>
                        </span>
                        <span class="vertical-part">
                            <b>maximus.</b>
                        </span>
                        <span class="vertical-part">
                            <b>Nullam</b>
                        </span>
                        <span class="vertical-part">
                            <b>quis</b>
                        </span>
                        <span class="vertical-part">
                            <b>leo</b>
                        </span>
                        <span class="vertical-part">
                            <b>ipsum.</b>
                        </span>
                        <span class="vertical-part">
                            <b>Lorem</b>
                        </span>
                        <span class="vertical-part">
                            <b>ipsum</b>
                        </span>
                        <span class="vertical-part">
                            <b>Nam</b>
                        </span>
                        <span class="vertical-part">
                            <b>consectetur</b>
                        </span>
                        <span class="vertical-part">
                            <b>malesuada</b>
                        </span>
                        <span class="vertical-part">
                            <b>blandit.</b>
                        </span>
                        <span class="vertical-part">
                            <b>Mauris</b>
                        </span>
                        <span class="vertical-part">
                            <b>vulputate</b>
                        </span>
                        <span class="vertical-part">
                            <b>purus</b>
                        </span>
                        <span class="vertical-part">
                            <b>id</b>
                        </span>
                        <span class="vertical-part">
                            <b>dolor</b>
                        </span>
                        <span class="vertical-part">
                            <b>euismod</b>
                        </span>
                        <span class="vertical-part">
                            <b>varius.</b>
                        </span>
                        </div>
                    </div>
                    </div>
                    <div class="controls">
                    <ul>
                        <li class="control" data-index="0"></li>
                        <li class="control" data-index="1"></li>
                        <li class="control" data-index="2"></li>
                    </ul>
                    </div>
                </div>
                </div>
                    
                <div class="popular-song-container">
                    <!-- ALBUMS -->
                    <div class="popular_song">
                        <div class="h4">
                            <h4>ALBUMS</h4>
                            <div class="btn_s">
                                <i id="left_scroll" class="bi bi-arrow-left-short"></i>
                                <i id="right_scroll" class="bi bi-arrow-right-short"></i>
                            </div>
                        </div>
                        <div class="pop_song">
                            <th:block th:if = "${albums != null}">
                                <th:block th:each = "album : ${albums}">
                                <li class="songItem">
                                    <div class="img_play">
                                        <a th:href="@{'/album/'+${album.idAlbum}}">
                                            <i class="bi playListPlay bi-play-circle-fill" id="7"></i>
                                        </a>
                                        <img th:src="@{${album.pathImage}}" alt="alan">
                                        <h5 th:text = "${album.nameAlbum}"></h5>
                                        <form th:action="@{'/favorite/create/album/' + ${album.idAlbum}}" th:method="post">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="bi bi-heart tym"></i>
                                            </button>
                                        </form>
                                    </div>
                                </li>
                            </th:block>
                        </th:block>
                        </div>
                    </div>
                    <!-- PLAYLISTS -->
                    <div class="popular_song">
                        <div class="h4">
                            <h4>PLAYLIST</h4>
                            <div class="btn_s">
                                <i id="left_scroll" class="bi bi-arrow-left-short"></i>
                                <i id="right_scroll" class="bi bi-arrow-right-short"></i>
                            </div>
                        </div>
                        <div class="pop_song">
                            <th:block th:if = "${playlists != null}">
                            <th:block th:each = "playlist : ${playlists}">
                            <li class="songItem">
                                <div class="img_play">
                                    <a th:href="@{'/playlist/'+${playlist.idPlaylist}}">
                                        <i class="bi playListPlay bi-play-circle-fill" id="7"></i>
                                    </a>
                                    <img th:src="@{${playlist.pathImage}}" alt="alan">
                                    <h5 th:text = "${playlist.namePlaylist}"></h5>
                                    <form th:action="@{'/favorite/create/playlist/' + ${playlist.idPlaylist}}" th:method="post">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="bi bi-heart tym"></i>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </th:block>
                        </th:block>
                        </div>
                    </div>       
                </div>
            </div>
        </div>

        <div class="row">
            <div class="master_play">
                <div class="wave">
                    <div class="wave1"></div>
                    <div class="wave1"></div>
                    <div class="wave1"></div>
                </div>
                <img src="/assets/img/default/sound_default.png" alt="Alan" id="poster_master_play">
                <h5 id="title">Vande Mataram<br>
                    <div class="subtitle">Bankim Chandra</div>
                </h5>
                <div class="icon">
                    <i class="bi bi-skip-start-fill" id="back"></i>
                    <i class="bi bi-play-fill" id="masterPlay"></i>
                    <i class="bi bi-skip-end-fill" id="next"></i>
                </div>
                <span id="currentStart">0:00</span>
                <div class="bar">
                    <input type="range" id="seek" min="0" value="0" max="100">
                    <div class="bar2" id="bar2"></div>
                    <div class="dot"></div>
                </div>
                <span id="currentEnd">0:00</span>
        
                <div class="vol">
                    <i class="bi bi-volume-down-fill" id="vol_icon"></i>
                    <input type="range" id="vol" min="0" value="30" max="100">
                    <div class="vol_bar"></div>
                    <div class="dot" id="vol_dot"></div>
                </div>
            </div>
        </div>
    </div>
  
</header>
<script type="text/javascript" th:src="@{/js/home.js}"></script>
<script type="text/javascript" th:src="@{/js/slidehome.js}"></script>
<script>
    function trackSearch(query){
        document.write(query);
    }
    var query = (new URLSearchParams(window.location.search)).get('key');
    if(query){
        trackSearch(query)
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>